#main_window
{
    background-color:black;
}

#bubble
{
    background-color:#202020;
    min-width : 300px;
    min-height : 125px;
    max-width : 300px;
    max-height : 125px;
    border-radius : 20px;
}

#bubble_heading
{
    color:white;
    font-weight:bold;
    font-size:15px;
}

#bubble_para
{
    color:white;
    font-size:12px;
    padding-right:10px;
}